body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Overpass", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2f2f2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Chivo", sans-serif;
}

p,
span {
  font-family: "Overpass", sans-serif;
}

.ui .button {
  background-color: #78c0e0;
  color: black;
}

.ui .button:hover {
  background-color: #254e70;
  color: white;
}

#gradient-canvas-dark {
  width:100vw;
  height:100vh;
  position: fixed;
  z-index: 0;
  --gradient-color-1: #001413; 
  --gradient-color-2: #2e8485; 
  --gradient-color-3: #145152;  
  --gradient-color-4: #082121;
}

#gradient-canvas-light {
  width:100vw;
  height:100vh;
  position: fixed;
  z-index: 0;
  --gradient-color-1: #8ef1ec; 
  --gradient-color-2: #ffffff; 
  --gradient-color-3: #11ccd0;  
  --gradient-color-4: #007a7a;
}
